* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.alert {
  width: 100%;
  border-radius: 5px;
  padding: 8px 10px;
  margin: 10px 0;
}
.error-dialog {
  background-color: #ff003357;
}
.success-dialog {
  background-color: #8fffaca8;
}
