/* List of all posts */
.posts-list {
  width: 45%;
  padding: 0 15px;
  border-right: 0.5px solid #cecece;
}

.posts-list h1 {
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
}

/* Single post wrapper */
.post-wrapper {
  margin: 30px 0;
  background-color: #fbad9d74;
  padding: 15px;
  border-radius: 20px;
}

.post-header {
  display: flex;
  align-items: center;
}

.post-header-avatar {
  width: 50px;
  margin: 4px 10px;
}

.post-content {
  text-align: left;
  padding: 5px 10px;
}

.post-actions {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.post-actions img {
  width: 20px;
}

.post-actions span {
  margin-right: 20px;
  margin-left: 5px;
}

.post-comment-box {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.post-comment-box input {
  outline: none;
  width: 60%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
  font-size: 1rem;
  background-color: black;
  color: white;
}

.post-comment-box button {
  font-size: 1rem;
  color: black;
  border: none;
  border-radius: 5px;
  background-color: #f7abb2;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.post-comment-box button:hover {
  background-color: black;
  color: white;
}

.post-comments-display {
  border: 1px solid black;
  margin-top: 16px;
  border-radius: 20px;
  margin: 16px auto;
  background-color: black;
  width: 80%;
}
.post-comment {
  text-align: left;
  margin: 0px 0;
  padding: 10px 0px;
  padding-left: 8px;
  color: white;
}
.post-comment span {
  font-size: 0.8rem;
  margin: 7px 0;
  margin-right: 8px;
}

/* General classes */

.text-mute {
  color: rgb(165, 165, 165);
}
